<!DOCTYPE HTML>
<html>
<head>
<title> Todo client </title>
<script src= "http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
<link href= "{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen"/>
<link href= "{{ url_for('static', filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet"/>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#"> Todo Client </a>
        </div>
    </div>
    <div id="main" class="container">
        {% block tasks %}
        {% endblock  %}
    </div>

    <script type = "text/javascript">
        // JS CODE
    </script>
</body>
</html>
