{% extends "base.html" %}
{% block tasks %}
    <table class= "table table-striped">
        <tr>
            <td style="width: 1px;"></td>
            <td><b>Task</b></td>
            <td><b>Options</b></td>
        </tr> <!-- end tr -->
        <tr>
            <td>
                <span class="label label-success">Done</span>
            </td>
            <td>
                <p><b> Task Title</b></p><p> Task Description</p>
            </td>
            <td>
                <button class ="btn">Edit </button>
                <button class ="btn">Delete</button>
                <button class ="btn">Mark in Progress</button>
            </td>
        </tr> <!-- end tr -->
        <tr>
            <td>
                <span class="label label-important">Urgent!</span>
            </td>
            <td>
                <p><b> Task Title</b></p><p>Task Description</p>
            </td>
            <td>
                <button class ="btn">Edit </button>
                <button class ="btn">Delete</button>
                <button class ="btn">Mark Done</button>
            </td>
        </tr> <!-- end tr -->

    </table>

{% endblock %}
